<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ItcubeSite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ITcube</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            Анекодот дня
                            <span class="badge bg-secondary">New</span>
                        </h5>
                        <p class="card-text">
                            Главный новый бич страны - это высокомотивированные низкоквалифицированные люди.
                        </p>
                        <a href="like" class="btn btn-outline-primary position-absolute end-0 bottom-0">Лайк</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Анекодот месяца</h5>
                        <p class="card-text">
                            Весна пришла!<br>
                            Мороз: - Мне надо уходить.<br>
                            Снег: - Мне тоже...<br>
                            Асфальт: - Пацаны, меня подождите!
                        </p>
                        <a href="#" class="btn btn-outline-primary position-absolute end-0 bottom-0">Лайк</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Анекодот года</h5>
                        <p class="card-text">
                            Решила проверить, знают ли друзья дату моего рождения, и перенесла её на неделю раньше во всех социальных сетях. Первым меня поздравил муж.
                        </p>
                        <a href="#" class="btn btn-outline-primary position-absolute end-0 bottom-0">Лайк</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Анекодот всего человечества</h5>
                        <p class="card-text">
                            По мнению государства, человек на 100% состоит из неоплатного долга.
                        </p>
                        <a href="#" class="btn btn-outline-primary position-absolute end-0 bottom-0">Лайк</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>