<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Test</title>
</head>
<body>
    <ul class="list-group">
    {% for letter, is_vowel in word %}
        <li class="list-group-item text-primary">
            <b>Буква:</b> <i>{{ letter }}</i> {% if is_vowel %} <mark>гласная</mark> {% else %} <kbd>согласная</kbd> {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>